[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	abandon = group ldap/smarthome
	create = group ldap/smarthome
	forgeAuthor = group ldap/smarthome
	push = group ldap/smarthome
	label-Code-Review = -2..+2 group ldap/smarthome
	submit = group ldap/smarthome
	editTopicName = group ldap/smarthome
[access "refs/meta/config"]
	read = group ldap/smarthome
[access "refs/for/*"]
	pushMerge = group ldap/smarthome
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group ldap/smarthome
[access "refs/tags/*"]
	pushTag = group ldap/smarthome
	pushSignedTag = group ldap/smarthome
[project]
	description = Smart Home Service
