[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	push = group ldap/smarthome
	push = group smarthome-homeservice
[access "refs/heads/*"]
	abandon = group ldap/smarthome
	abandon = group smarthome-homeservice
	create = group ldap/smarthome
	create = group smarthome-homeservice
	forgeAuthor = group ldap/smarthome
	forgeAuthor = group smarthome-homeservice
	label-Code-Review = -2..+2 group ldap/smarthome
	label-Code-Review = -2..+2 group smarthome-homeservice
	submit = group ldap/smarthome
	submit = group smarthome-homeservice
	editTopicName = group ldap/smarthome
	editTopicName = group smarthome-homeservice
[access "refs/meta/config"]
	read = group ldap/smarthome
	read = group smarthome-homeservice
[access "refs/for/*"]
	pushMerge = group ldap/smarthome
	pushMerge = group smarthome-homeservice
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group ldap/smarthome
	pushMerge = group smarthome-homeservice
[access "refs/tags/*"]
	pushTag = group ldap/smarthome
	pushTag = group smarthome-homeservice
	pushSignedTag = group ldap/smarthome
	pushSignedTag = group smarthome-homeservice
[project]
	description = Smart Home Service
[access "refs/*"]
	read = group GitHub Replication
